<!DOCTYPE html>
<html>
  <head>
    <title>Backend Portfolio</title>
  </head>
  <body class="bg-dark text-light">
    <%- include("./partials/navbar.ejs", {user: user}) %>
    <div class="container">

      <h1>Gaute Lunde</h1>
      <p>Portfolio</p>
    </div>
    <div class="container" id="CV">
      <iframe src="/images/Gaute Skaflem Lunde CV.pdf" width="100%" height="800px" frameborder="0">Not working</iframe>
    </div>
  </body>
</html>
